
.nav a:hover{
    background-color: rgb(71, 89, 136);
}

h1 {
    font-size: 45px;
}

/* button */
button {
    width: 150px;
    background-color: rgb(8, 8, 8);
    border-radius: 5px;
    margin-left: 20px;
}

button a {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}


/* heading 3 */
h3 {
    font-size: 28px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 20px;
    font-weight: bold;
}

.rating {
    width: 70px;
    height: 70px;
    border-radius: 5px;
}


/* footer */
.socials img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.socials ul li {
 list-style-type: none;
 font-size: 20px;
 
}
.links{
    text-decoration: none;
    color: white;    
    padding-left: 26px;
    font-size: 20px;
}

.media img {
    width: 25px;
    height: 25px;
    margin-right: 60px;
    
}
.media {
    padding-left: 26px;
}
.paragraph {
    font-size: 20px;
    text-align: justify;
    font-family: century gothic ;
    color: rgb(207, 210, 213);
    padding-left: 20px;
}

/* styling for portfolio pages */
/* portfolio */
.portfoliobuttons button {
    width: 150px;
    height: 40px;
    margin-left: 50px;
    background-color: rgb(64, 77, 64);
}

