
.nav a:hover{
    background-color: rgb(71, 89, 136);
}

h1 {
    font-size: 45px;
}

/* button */
button {
    width: 150px;
    background-color: rgb(8, 8, 8);
    border-radius: 5px;
    margin-left: 20px;
}

button a {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}


/* heading 3 */
h3 {
    font-size: 28px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 20px;
    font-weight: bold;
}

.rating {
    width: 70px;
    height: 70px;
    border-radius: 5px;
    
}


/* footer */
.socials img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.socials ul li {
 list-style-type: none;
 
}